:root {
  --color-heading: rgb(44, 62, 80);
  --color-button: #3498db;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  background: #f8f9fa;
}

.heading {
  color: var(--color-heading);
  font-size: 6rem;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column; /* stack input and button vertically */
  align-items: center; /* center them horizontally */
  gap: 1rem; /* space between input and button */
  margin-top: 2rem;
}

.inp {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #bfd8ec;
  border-radius: 6px;
  margin-right: 1.5rem;
  outline: none;
  width: 100%;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, width 0.3s ease;
}

.inp:focus {
  border-color: var(--color-button);
  box-shadow: 0 0 12px rgba(52, 152, 219, 0.6);
}

.btn {
  font-size: 1.5rem;
  padding: 1rem;
  border: 0;
  border-radius: 6px;
  background-color: var(--color-button);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

@media (min-width: 768px) {
  .input-section {
    flex-direction: row;
    align-items: first baseline;
  }
  .inp {
    max-width: 100%;
    width: 400px;
    margin-bottom: 1rem;
  }

  body {
    flex-direction: column;
    align-items: center;
  }
}

#task-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.task-item {
  font-size: 2.5rem;
  background: var(--color-heading);
  color: #fff;
  padding: 0.8rem 1.2rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.task-item:hover {
  background: rgb(22, 34, 46);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}
